.navbar-nav {
    float:none;
    margin:0 auto;
    width: 100% auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
    padding-left:30px;
  padding-right:30px;
}