<app-navbar></app-navbar>
<div id="dimScreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 bg-white text-black border">
                <h1>{{ 'about.title' | translate }}</h1>
                <p> {{ 'about.content' | translate }}</p>
                </div>
            </div>
        </div>
</div>
<app-footer></app-footer>
