<app-navbar></app-navbar>
<div id="dimScreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 bg-white text-black border">
                <h1>{{ 'news.title' | translate }}</h1>
                <p>{{ 'news.content' | translate }}</p>
                <li *ngFor="let item of xmlItems">
                    <a href="{{item.link}}" class='dynamicLink' > {{ item.title }} </a>
                    <p></p>
                </li>
            </div>
            
        </div>
    </div>
</div>
<app-footer></app-footer>




